<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<jmxConfigurator/>
	<!-- 控制台设置 -->
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>[%date{yyyy-MM-dd HH:mm:ss:SSS}][%X{reqId}][%-3level]%logger{0}.%M.%line: %msg%n</Pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

	<appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/halo-easy-rules/rules.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>logs/halo-easy-rules/rules.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<!-- keep 30 days' worth of history -->
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<Pattern>[%date{yyyy-MM-dd HH:mm:ss:SSS}][%X{reqId}][%-3level]%logger{0}.%M.%line: %msg%n</Pattern>
		</encoder>
	</appender>

	<logger name="com.halo" level="DEBUG"/>
	<root level="info">
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="dailyRollingFileAppender" />
	</root>
</configuration>